    {%extends 'base_center.html'%} 
    {%block content%}
            {% if user.is_authenticated %}
        
         <div class="container">
        <form action = 'add_event' method = "POST">  
            {% csrf_token %}
            <label> Event Name: </label> <br> 
            <input type = "text" class="form-control" name  = "Name" required/><br>
            <label> Event Description: </label> <br> 
            <input type = "text" class="form-control" name  = "Desc" required/><br>  
            <label> Start Date: </label> <br> 
            <input type = "date" class="form-control" name  = "Start_Date" required/><br>
            <label>  End Date: </label> <br> 
            <input type = "date" class="form-control" name  = "End_Date" required/><br>
            <label> Max Participants: </label> <br> 
            <input type = "number" min="1" class="form-control" name  = "Max" required/><br>
            <label> Max Waiting List Size: </label> <br> 
            <input type = "number" min="0" class="form-control" name  = "Max_List" required/><br>
            
            <input class="btn btn-primary btn-md" style="float: right" type="submit">  
            
        </form>  
        </div>  
        {% if msg %}  <script>alert("Assigned Moderator: {{ msg }}")</script> {% endif %}

    {% else %}
        <h1> Authentication Failed, Get lost!! </h1>
    {% endif %}    
    {%endblock%}
