{%extends 'base.html'%}
{%block content%}
        User Dashboard for {{user.get_username}}
        <a class="btn btn-primary btn-sm" href="/user/createdevents" >See all created events</a>
        <a class="btn btn-primary btn-sm" href="/user/joinedevents" >See all joined events</a>
        {%if is_mod%}
        <a class="btn btn-primary btn-sm" href="/moderator/pendingrequest">Event requests</a>	
        <a class="btn btn-primary btn-sm" href="/moderator/edited_event_requests" >Edit event requests</a>
        {%endif%}
{%endblock%}
