{%extends 'base.html'%} 
{%block content%}
{% if user.is_authenticated %}

<table class="table table-hover table-striped table-bordered">
    <thead class="thead-dark">    
    <tr>
            <th>Host </th>
            <th>Event Name</th>
            <th>Start</th>
            <th>End</th>
            <th>Max Participants</th>
            <th>Num Participants</th>
            <th>Max Waiting List</th>
            <th>Num Waiting List</th>
        </tr></thead>
    {% for ky in key %}
    <tr>
        <td> {{ ky.owner}} </td>
        <td> {{ ky.event_name}} </td>
        <th> {{ky.event_start_date}} </th>
        <th> {{ky.event_end_date}} </th>
        <th> {{ky.max_participants}} </th>
        <th> {{ky.num_participants }} </th>
        <th> {{ky.max_waiting_list_size }} </th>
        <th> {{ky.num_in_waiting_list }} </th>
    </tr>   
    {% endfor %}
    </table>    


{% else %}
    <h1> Authentication Failed, Get lost!! </h1>
{% endif %}    
{%endblock%}
