{%extends 'base_center.html'%} 
{%block content%}
    {% if user.is_authenticated %}
    

        <form action = 'add_mod' method = "POST">  
            {% csrf_token %}
            <label> Username: </label> <br> 
            <input type = "text" class="form-control" name  = "username" required/><br>
           
            <label> Password: </label> <br> 
            <input type = "password" class="form-control" name  = "password" required/><br>  
           
            <label> Confirm Password: </label> <br> 
            <input type = "password" class="form-control" name  = "cpassword" required/><br>
           
            <label>  First Name: </label> <br> 
            <input type = "text" class="form-control" name  = "fname" required/><br>
           
            <label>  Last Name: </label> <br> 
            <input type = "text" class="form-control" name  = "lname" required/><br>
           
            <label> Email: </label> <br> 
            <input type = "text" class="form-control" name  = "email" required/><br>
              
            <input class="btn btn-primary btn-md" style="float: right" id=button type="submit">  
        </form>
        {% for message in messages %}
            <h1>{{message}}</h1>
        {% endfor %}  
    
    {% else %}
        <h1> Authentication Failed, Get lost!! </h1>
    {% endif %}    
    {%endblock%}