{%extends 'base_center.html'%} 
{%block content%}
    {% if user.is_authenticated %}
     <table class="table table-hover table-bordered ">
        <thead class="thead-light">    
        <tr>
                <th>Username </th>
                <th>First Name</th>
                <th>last Name</th>
                <th>Email</th>
                <th>Action</th>
                </tr></thead>
        {% for ky in key %}
        <tr>
            <td> {{ ky.username}} </td>
            <td> {{ ky.first_name}} </td>
            <td> {{ ky.last_name}} </td>
            <td> {{ky.email}} </td>
            <td> <a href="/superuser/{{ky.id}}">Delete</a>  </td>    
        </tr>   
        {% endfor %}
        </table>    
    <br><br>
        {% for message in messages %}
        <h3 id="msg">{{message}}</h3>
    {% endfor %}
    </div>
  

    {% else %}
        <h1> Authentication Failed, Get lost!! </h1>
    {% endif %}    
{%endblock%}