{% extends 'base_center.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="card login">
  <h4 class="card-header" style="text-align: center;">Sign Up</h4>
  <div class="card-body">
    <div class="container">
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="container" style="text-align: right;">
              <div>
                <button class="btn btn-primary btn-md" type="submit">next</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
{% endblock %}